<div ngClass="form-container">
  <form [formGroup]="formRegPersonalInfo" ngClass="register">
    <mat-form-field appearance="fill">
      <mat-label>DNI: </mat-label>
      <input
        matInput
        type="text"
        placeholder="Insert DNI number"
        formControlName="dni"
        required
      />
      <div
        *ngIf="
          formReg.get('dni')?.hasError('required') &&
          !formReg.get('dni')?.pristine
        "
      >
        BNI number is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name: </mat-label>
      <input
        matInput
        type="text"
        placeholder="Insert name"
        formControlName="name"
        required
      />
      <div
        *ngIf="
          formReg.get('name')?.hasError('required') &&
          !formReg.get('name')?.pristine
        "
      >
        Name is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>LastName: </mat-label>
      <input
        matInput
        type="text"
        placeholder="Insert last name"
        formControlName="lastName"
        required
      />
      <div
        *ngIf="
          formReg.get('lastName')?.hasError('required') &&
          !formReg.get('lastName')?.pristine
        "
      >
        Last Name is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cellphone: </mat-label>
      <input
        matInput
        type="text"
        placeholder="Insert Cellphone number"
        formControlName="cell"
        required
      />
      <div
        *ngIf="
          formReg.get('cell')?.hasError('required') &&
          !formReg.get('cell')?.pristine
        "
      >
        Cellphone number is required
      </div>
    </mat-form-field>
  </form>
</div>

<div ngClass="form-container">
  <form [formGroup]="formReg" ngClass="register">
    <mat-form-field appearance="fill">
      <mat-label>Email: </mat-label>
      <input
        matInput
        type="email"
        placeholder="Insert email"
        formControlName="email"
        required
      />
      <div
        *ngIf="
          formReg.get('email')?.hasError('required') &&
          !formReg.get('email')?.pristine
        "
      >
        Email is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password: </mat-label>
      <input
        matInput
        type="password"
        placeholder="Insert password"
        formControlName="password"
        required
      />
      <div
        *ngIf="
          formReg.get('password')?.hasError('required') &&
          !formReg.get('password')?.pristine
        "
      >
        Password is required
      </div>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="margin: 5px"
      [disabled]="isFormsInvalid()"
      (click)="onSubmit()"
    >
      Register
    </button>
    <button
      mat-raised-button
      color="warn"
      style="margin: 5px"
      routerLink="/main"
    >
      Go back
    </button>
  </form>
</div>
