<footer class="foot">
  <div class="header">
    <div class="logo">
      <span><fa-icon [icon]="faBus"></fa-icon></span>
      <p class="logo-text">Freedom Route</p>
    </div>
    <div>
      <div class="social-media">
        <span class="fb"><fa-icon [icon]="faFacebook"></fa-icon></span>
        <span class="tw"><fa-icon [icon]="faTwitter"></fa-icon></span>
        <span class="in"><fa-icon [icon]="faInstagram"></fa-icon></span>
        <span class="li"><fa-icon [icon]="faLinkedin"></fa-icon></span>
        <span class="yt"><fa-icon [icon]="faYoutube"></fa-icon></span>
      </div>
    </div>
  </div>
  <hr />
  <div class="section">
    <div>
      <h2>Company</h2>
      <a href="#">Home</a>
      <a href="#">Contact us</a>
      <a href="#">About us</a>
      <a href="#">Get started</a>
    </div>
    <div>
      <h2>Services</h2>
      <a href="#">Bus tickets</a>
      <a href="#">Travel guidance</a>
      <a href="#">Hotel partnerships</a>
      <a href="#">Memberships</a>
    </div>
    <div>
      <h2>Account</h2>
      <a href="#">Profile</a>
      <a href="#">My Account</a>
      <a href="#">Preferences</a>
      <a href="#">Purchase</a>
    </div>
    <div>
      <h2>Subscribe</h2>
      <form action="">
        <input type="text" placeholder="Enter your email" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="copyright">
    <p>copyright®2023Freedom Route. All right reserved</p>
    <p>Privacy Policy Terms and conditions</p>
  </div>
</footer>
