.shopping-cart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  border: 5px solid gray;
  border-radius: 10px;
}

.cart-items-container {
  width: 70%;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.cart-item-image {
  width: 150px;
  height: 150px;
  margin-right: 10px;
}

.cart-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cart-item-details {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-item-name {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-item-price {
  font-size: 1.1em;
  font-weight: bold;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.cart-item-quantity button {
  background-color: transparent;
}

.cart-item-quantity div {
  font-size: 1.1em;
  font-weight: bold;
  margin: 0 50px;
}

.order-settings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-settings button {
  background: grey;
}

.cart-summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 20px;
}

.cart-summary-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.cart-summary-row h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}

.shipping-slider {
  justify-content: center;
  align-items: center;
}

.cart-summary-container h2{
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
}
