.all-container h1 {
  margin-top: 10%;
  justify-content: center;
  text-align: center;
  color: black;
  font-weight: bold;
}

.all-container h2 {
  margin-top: 10px;
  text-align: center;
  color: black;
}

.buttons-container {
  display: block;
  justify-content: center;
  text-align: center;

}

.all-container p {
  margin-top: 10px;
  text-align: center;
  color: black;
  margin-inline-end: auto;
  margin-top: 6.25%;
}
