<div ngClass="form-container">
  <h1>Create your account</h1>
  <form [formGroup]="RegisterPersonalInfoForm" ngClass="register">
    <mat-form-field appearance="fill">
      <mat-label>DNI: </mat-label>
      <input
        matInput
        type="text"
        placeholder="Insert DNI number"
        formControlName="dni"
        required
      />
      <div
        *ngIf="
          RegisterForm.get('dni')?.hasError('required') &&
          !RegisterForm.get('dni')?.pristine
        "
      >
        BNI number is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Name: </mat-label>
      <input
        matInput
        type="text"
        placeholder="Insert name"
        formControlName="name"
        required
      />
      <div
        *ngIf="
          RegisterForm.get('name')?.hasError('required') &&
          !RegisterForm.get('name')?.pristine
        "
      >
        Name is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>LastName: </mat-label>
      <input
        matInput
        type="text"
        placeholder="Insert last name"
        formControlName="lastName"
        required
      />
      <div
        *ngIf="
          RegisterForm.get('lastName')?.hasError('required') &&
          !RegisterForm.get('lastName')?.pristine
        "
      >
        Last Name is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cellphone: </mat-label>
      <input
        matInput
        type="text"
        placeholder="Insert Cellphone number"
        formControlName="cell"
        required
      />
      <div
        *ngIf="
          RegisterForm.get('cell')?.hasError('required') &&
          !RegisterForm.get('cell')?.pristine
        "
      >
        Cellphone number is required
      </div>
    </mat-form-field>
  </form>
</div>

<div ngClass="form-container">
  <form [formGroup]="RegisterForm" ngClass="register">
    <mat-form-field appearance="fill">
      <mat-label>Email: </mat-label>
      <input
        matInput
        type="email"
        placeholder="Insert email"
        formControlName="email"
        required
      />
      <div
        *ngIf="
          RegisterForm.get('email')?.hasError('required') &&
          !RegisterForm.get('email')?.pristine
        "
      >
        Email is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password: </mat-label>
      <input
        matInput
        type="password"
        placeholder="Insert password"
        formControlName="password"
        required
      />
      <div
        *ngIf="
          RegisterForm.get('password')?.hasError('required') &&
          !RegisterForm.get('password')?.pristine
        "
      >
        Password is required
      </div>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="margin: 5px"
      (click)="onSubmit()"
    >
      Continue
    </button>
    <div class="have-account-text">
      <h3>Already have an account?</h3>
      <a href="/login">Login</a>
    </div>
    <h3>OR</h3>
    <button
      mat-raised-button
      color="warn"
      style="margin: 5px"
      (click)="onClick()"
    >
      <fa-icon [icon]="faGoogle"></fa-icon>
      Continue With Google
    </button>
  </form>
  <p>Terms of use | Privacy policy</p>
</div>
