.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container h1 {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
}

.register {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.form-container p {
  text-align: center;
  margin-top: 30px;
  font-size: 0.7rem;
}

.form-container h3 {
  text-align: center;
  font-size: 0.8rem;
}

.have-account-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.have-account-text h3 {
  margin-right: 10px;
}

.have-account-text a {
  margin-right: 10px;
  margin-bottom: 15px;
}
