<div ngClass="form-container">
  <h1>Welcome back</h1>
  <form [formGroup]="loginForm" ngClass="login">
    <mat-form-field appearance="fill">
      <mat-label>Email: </mat-label>
      <input
        matInput
        type="email"
        placeholder="Insert email"
        formControlName="email"
        required
      />
      <div
        *ngIf="
          loginForm.get('email')?.hasError('required') &&
          !loginForm.get('email')?.pristine
        "
      >
        Email is required
      </div>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password: </mat-label>
      <input
        matInput
        type="password"
        placeholder="Insert password"
        formControlName="password"
        required
      />
      <div
        *ngIf="
          loginForm.get('password')?.hasError('required') &&
          !loginForm.get('password')?.pristine
        "
      >
        Password is required
      </div>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      style="margin: 5px"
      (click)="onSubmit()"
    >
      Continue
    </button>
    <br />
    <div class="no-account-text">
      <h3>Don't have an account?</h3>
      <a href="/register">Sign up</a>
    </div>
    <h3>OR</h3>
    <button
      mat-raised-button
      color="warn"
      style="margin: 5px"
      (click)="onClick()"
    >
      <fa-icon [icon]="faGoogle"></fa-icon>
      Continue With Google
    </button>
  </form>
  <p>Terms of use | Privacy policy</p>
</div>
