<div class="about-section">
  <div class="inner-container">
    <h1>About Us</h1>
    <p class="text">
      We are dedicated to providing you with a seamless and hassle-free ticket
      booking experience for all your travel needs. Our team of experts is
      committed to ensuring that you get the best deals and offers on bus
      tickets, making your travel experience affordable and enjoyable. Thank you
      for choosing us as your preferred bus ticket seller, and we look forward
      to serving you!
    </p>
    <div class="skills"></div>
  </div>
</div>
