<div ngClass="account-card-container">
  <div ngClass="account-card-description">
    <span class="-dni-text">
      <h2>DNI: {{ customer.dni }}</h2>
    </span>
    <span class="name-text">
      <h2>Name: {{ customer.name }}</h2>
    </span>
    <span class="last-name-text">
      <h2>Last Name: {{ customer.lastName }}</h2>
    </span>
    <br />
    <span class="email-text">
      <p>Email: {{ customer.email }}</p>
    </span>
    <span class="cell-text">
      <p>Cell: {{ customer.cell }}</p>
    </span>
    <hr />
  </div>
</div>
